* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 22px;
}

li {
    list-style: none;
}

body {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

/************************** Header Supérieur *************************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-logo {
    margin-top: 44px;
}

.logo {
    width: 61px;
}

.div-nav {
    margin-top: 48px;
}

.nav-lien:first-child {
    margin-right: 67px;
}

.nav-lien:hover {
    color: #0065FC;
    font-weight: 700;
    border-top: solid 2px blue;
}

/************************** Search *************************/
.search {
    margin-top: 63px;
}

.ville-nature {
    margin-top: 8px;
}

.search-location {
    margin-top: 20px;
}

.icon-location {
    background-color: #F2F2F2;
    padding: 16px 15px 16px 15px;
    border-radius: 15px 0 0 15px;
    font-size: 1.15em;
}

#location {
    padding: 14px 10px;
    border: solid 1px #f2f2f2;
    font-size: 18px;
    font-weight: 700;
}

.button-search {
    padding: 14px 16px;
    border: solid 1px #0065FC;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.icon-search {
    display: none;
}

/************************** Filtres *************************/
.div-filtres {
    display: inline-block;
    margin-top: 46px;
}

.filtres,
.div-filtres ul,
.div-filtres ul li,
.liste-filtres div {
    display: inline-block;
}

.filtres {
    margin-right: 60px;
    font-size: 18px;
    font-weight: 700;
}

.div-filtres li {
    margin-right: 80px;
    font-size: 17px;
    font-weight: 700;
    padding: 10px 15px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
}

.div-filtres li:hover {
    background-color: #DEEBFF;
}

.icon-filtres {
    color: #0065FC;
    padding-right: 10px;
}

.info-filtres {
    margin-top: 54px;
}

.icon-info {
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    padding: 7px 10px;
    margin-right: 20px;
}

/************************** Main *************************/
#main {
    display: flex;
}

.hebergement {
    width: 70%;
    background-color: #F2F2F2;
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
}

.card-sup {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    margin-bottom: 30px;
}

.card {
    background-color: white;
    border-radius: 20px;
    margin-right: 20px;
}

.img-card {
    width: 240px;
    height: 120px;
    border-radius: 20px 20px 0 0;
    border: 5px solid white;
    object-fit: cover;
}

.h3-hotel {
    padding: 4px 26px 9px 16px;
}

.prix-hotel {
    padding: 0 26px 9px 16px;
}

.card-inf {
    display: flex;
    justify-content: space-between;
}

.prix {
    font-weight: 700;
}

.plus-hebergement {
    font-weight: 700;
    display: inline-block;
    margin-top: 40px;
}