* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 22px;
}

li {
    list-style: none;
}

body {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

/************************** Header Supérieur *************************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-logo {
    margin-top: 44px;
}

.logo {
    width: 61px;
}

.div-nav {
    margin-top: 48px;
}

.nav-lien {
    padding-top: 46px;
}

.nav-lien:first-child {
    margin-right: 67px;
}

.nav-lien:hover {
    color: #0065FC;
    font-weight: 700;
    border-top: solid 2px blue;
}

/************************** Search *************************/
.search {
    margin-top: 63px;
}

.ville-nature {
    margin-top: 8px;
}

.search-location {
    margin-top: 20px;
}

.icon-location {
    background-color: #F2F2F2;
    padding: 16px 15px 16px 15px;
    border-radius: 15px 0 0 15px;
    font-size: 1.15em;
}

#location {
    padding: 14px 10px;
    border: solid 1px #f2f2f2;
    font-size: 18px;
    font-weight: 700;
}

.button-search {
    padding: 14px 16px;
    border: solid 1px #0065FC;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.icon-search {
    display: none !important;
}

/************************** Filtres *************************/
.div-filtres {
    margin-top: 46px;
}

.filtres-nav {
    display: flex;
    align-items: center;
}

.filtres,
.div-filtres ul,
.div-filtres ul li,
.liste-filtres {
    display: inline-block;
}

.filtres {
    margin-right: 40px;
    font-size: 18px;
    font-weight: 700;
}

.div-filtres li {
    margin-right: 30px;
    font-size: 17px;
    font-weight: 700;
    padding: 10px 15px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
}

.div-filtres ul li:nth-child(4) {
    margin-right: 0;
}

.div-filtres li:hover {
    background-color: #DEEBFF;
}

.icon-filtres {
    color: #0065FC;
    padding-right: 10px;
}

.info-filtres {
    margin-top: 54px;
}

.icon-info {
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    padding: 7px 10px;
    margin-right: 20px;
}

/************************** Main *************************/
/***** Hébergement*****/
#main {
    display: flex;
}

.hebergement {
    width: 70%;
    background-color: #F2F2F2;
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
}

.card-sup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.lien-card {
    width: 30%;
}

.card {
    background-color: white;
    margin-top: 23px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.img-card {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
    border: 5px solid white;
    object-fit: cover;
}

.h3-hotel {
    padding: 4px 0 9px 16px;
}

.prix-hotel {
    padding: 0 0px 9px 16px;
    font-size: 14px;
}

.star-note {
    color: #0065FC;
    margin-bottom: 11px;
}

.star-note:nth-child(4) {
    margin-left: 16px;
}

.star-note:nth-child(8) {
    color: #F2F2F2;
}

.prix {
    font-weight: 700;
}

.plus-hebergement {
    font-weight: 700;
    display: inline-block;
    margin-top: 40px;
}

/***** Populaire *****/
.populaire {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 40px;
    padding: 40px 40px 34px 37px;
    position: relative;
}

.p-populaire {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}

.icon-growth {
    color: #0065FC;
    width: 18px;
    height: 15px;
    position: absolute;
    top: 40px;
    right: 40px;
}

.div-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div-card a:nth-child(2) {
    margin: 30px 0;
}

.card-populaire {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

.img-populaire {
    width: 40%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    border: 5px solid white;
}

.info-populaire {
    width: 60%;
    padding: 16px 20px 10px 8px;
}

.h3-populaire {
    font-size: 16px;
}

.prix-populaire {
    margin-top: 7px;
    font-size: 14px;
}

.div-star {
    margin-top: 40px;
}

.div-star i {
    color: #0065FC;
}

.div-star i:nth-child(5) {
    color: #F2F2F2;
}

/************************** Activités *************************/

#activite {
    margin-top: 60px;
}

.h2-activite {
    margin-bottom: 18px;
}

.activite-flex {
    display: flex;
    justify-content: space-between;
}

.activite-flex a {
    width: 25%;
}

.img-activite {
    max-width: 330px;
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.article-activite {
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

.article-activite-margin {
    margin-right: 0;
}

.h3-activite {
    padding: 20px;
    font-size: 16px;
}

/************************** Footer *************************/
.footer {
    background-color: #F2F2F2;
    margin-top: 60px;
    display: flex;
    padding: 45px 0 58px 70px;
}

.footer div {
    margin-right: 180px;
}

.h4-footer {
    font-size: 18px;
    margin-bottom: 20px;
}

.li-footer {
    margin-bottom: 12px;
}

/************************** Tablette *************************/
@media all and (min-width: 769px) and (max-width: 991px) {
    #main {
        flex-direction: column;
    }

    .hebergement,
    .populaire {
        width: 100%;
    }

    .populaire {
        margin-left: 0;
        padding-bottom: 0;
    }

    .p-populaire {
        margin-bottom: 0;
    }

    .populaire a {
        width: 30%;
        display: inline-block;
    }

    .div-card {
        flex-direction: row;
        align-items: center;
    }

    .card-populaire {
        margin-top: 0;
    }

    .div-star-margin {
        margin-top: 21px;
    }

    .article-activite {
        width: 205px;
    }

    .img-activite {
        height: 211px;
    }
}

/************************** Téléphone *************************/
@media screen and (max-width: 767px) {}